.spinner-border {
    width: 17rem;
    height: 17rem;
    color: #38c172;
}

#page-loading {
    width: 100%;
    height: 900px;
    background-color: #B9BABA;
    /*background-color: #D3D4D4;*/
}

#page-loading-spinner {
}

#page-alert {
    width: 100%;
    height: 900px;
    background-color: #B9BABA;
    /*background-color: #D3D4D4;*/
}

#page-alert-msg {
    position: relative;
    top: 39%;
    text-align: center;
}
