.list-element-button {
    width: 100%;
    text-align: left;
    background-color: white;
    border-color: white;
    color: black;
    cursor: pointer;
}

.list-element-button:focus {
    width: 100%;
    text-align: left;
    background-color: white;
    border-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 0 0rem;
}

.list-element-button:hover {
    width: 100%;
    background-color: lightgrey;
    border-color: white;
    color: black;
}
