#quiz-headline {
    color: #70af85;
    font-weight: bold;
    margin-bottom: 7px;
}

#quiz-headline-total {
    float: right;
}

#quiz-headline-total-correct {
    color: green;
}

.quiz-choices {
}

.quiz-choices-choice {
    min-height: 43px;
    background-color: #fff;
    padding-top: 13px !important;
    margin: auto;
}

.quiz-choices-choice-hover {
    min-height: 43px;
    background-color: #c6ebc9;
    padding-top: 13px !important;
    margin: auto;
    cursor: pointer;

}
