#response-buttons {
    text-align: center;
    margin-top: 37px;
}

#response-buttons-stop {
    float: left;
    background-color: #70af85;
    border-color: #70af85;
    box-shadow: inset 0 0 0 1px rgba(112, 175, 133, 0.4), inset 0 -1px 0 rgba(112, 175, 133, 0.2);
}

#response-buttons-flip {
    border-color: #70af85;
    background-color: #F0E2D0;
    color: #70af85;
    box-shadow: inset 0 0 0 1px rgba(112, 175, 133, 0.4), inset 0 -1px 0 rgba(112, 175, 133, 0.2);
}

#response-buttons-next {
    float: right;
    background-color: #70af85;
    border-color: #70af85;
    box-shadow: inset 0 0 0 1px rgba(112, 175, 133, 0.4), inset 0 -1px 0 rgba(112, 175, 133, 0.2);
}
