// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$green_light: #c6ebc9;
$green_dark: #70af85;
$brown_ligh: #f0e2d0;
$brown: #aa8976;

// ref https://colorhunt.co/palette/226542

// Finfo
$finfo-bg: $brown_ligh;
$finfo-menu-bg: $green;
$finfo-menu-color: #fff;
