// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: "Roboto Regular";
    src: url("/fonts/vendor/Roboto/Roboto-Regular.ttf");
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// gallery
@import "~react-image-gallery/styles/css/image-gallery.css";

// Variables
@import 'variables';

// body
body {
    background-color: $finfo-bg;
    font-family: 'Roboto Regular', fantasy;
}


// menu
#menu {
    background-color: $finfo-menu-bg;
    color: $finfo-menu-color;
    margin-bottom: 59px;
}

#menu-logo {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    float: left;
    z-index: 1000;
    width: 79px;
    height: 79px;
    top: 5px;
}

#menu-logo-name {
    margin-left: 71px
}

#menu-options > li > a {
    color: $finfo-menu-color;
}

