#item-loading {
    width: 100%;
    height: 300px;
    /* background-color: #B9BABA; */
    /*background-color: #D3D4D4;*/
}

.item-dialog-body {
    height: 700px;
    overflow: auto;
}
#item-dialog-body-tags {
    text-align: right;
    margin-top: 7px;
    margin-bottom: 7px;
}

#item-dialog-body-footer {
    text-align: right;
}

#item-loading-spinner {
    padding-top: 19%;
}
