#quiz-question-image {
    width: 100%;
    max-height: 550px;
}
.quiz-choices {
}

.quiz-choices-choice {
    width: 100%;
    min-height: 53px;
    background-color: #fff;
   /* color: #000;*/
    padding-top: 13px !important;
    margin: auto;
}

.quiz-choices-choice-hover {
    width: 100%;
    min-height: 53px;
    background-color: lightgrey;
  /*  color: #fff;*/
    padding-top: 13px !important;
    padding-bottom: 7px !important;
    margin: auto;
    cursor: pointer;
}
