#quiz-question-image {
    width: 100%;
    max-height: 550px;
}

#quiz-response {
    min-height: 277px;
}

.quiz-response-correct {
    color: green;
}

.quiz-response-incorrect {
    color: red;
}
