
/* Align */
.text-center {
    text-align: center !important;
}

/* Margin */
.mt-1 {
    margin-top: 7px;
}
.mt-2 {
    margin-top: 17px;
}
.mt-3 {
    margin-top: 29px;
}
.mt-4 {
    margin-top: 37px;
}

.mb-1 {
    margin-bottom: 7px;
}
.mb-2 {
    margin-bottom: 17px;
}
.mb-3 {
    margin-bottom: 29px;
}
.mb-4 {
    margin-bottom: 37px;
}
